body{
    color: rgb(250, 250, 250);
    background: rgb(0, 0, 0) ;
    margin: 0px;
    font-family: "BBH Sans Bartle", sans-serif;
}
  header{
   border-bottom: solid 2px white;
   padding: 20px;
   font-size: 32px;
   color:rgb(255, 255, 255)
}
 section{
    background-color: rgb(40, 43, 46);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
 }

 .chamada-texto{
   margin-right: 5%;
 }